.header-grid {
  width: 100vw;
  height: 180px;
  display: grid;
  grid-template-columns: 33.333% auto 33.333%;
  position: absolute;
  background-color: transparent;
}

.logo-container {
  display: flex;
  flex: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
}

.logo-container img {
  height: 100%;
  width: 100%;
}

.link-grid-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.link-grid-left a {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex: wrap;
  justify-content: space-around;
  padding-top: 80px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  border-bottom: 1px transparent;
}

.link-grid-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.link-grid-right a {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex: wrap;
  justify-content: space-around;
  padding-top: 80px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  border-bottom: 1px transparent;
}

/* unvisited link */

a:link {
  color: white;
}

#home a:link {
  color: white;
}

#contact a:link {
  color: white;
}

#shop a:link {
  color: white;
}

/* visited link */

a:visited {
  color: white;
}

#home:visited {
  color: white;
}

#contact:visited {
  color: white;
}

#shop:visited {
  color: white;
}

/* mouse over link */

a:hover {
  color: gray;
}

#home:hover {
  color: #158835;
}

#contact:hover {
  color: #fce452;
}

#shop:hover {
  color: #d81824;
}

/* selected link */

a:active {
  color: white;
}

#home:active {
  color: gray;
}

#contact:active {
  color: gray;
}

#shop:active {
  color: gray;
}
